# Cache and build files
bin/

# Source Backups
*.zip

# Gradle
.gradle/
build/
out/
src/generated/

# NeoForge MDK cache
run/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/*
.vscode/settings.json

# Local dev config — never commit this
local.properties

# OS
.DS_Store
Thumbs.db

# Logs
logs/
logs - base neoforge/

# Only needed for tuning tools' classpath. File is downloadable anyways
jna-5.14.0.jar

# Tuning tools
tuning/

# References, documentation, and other auxiliary files
reference/
images/
